// Color Map
$rp-color-key: 'base' !default;

//////// FONTS
// $font-stack: 'Open Sans','Arial', sans-serif;   

//////// SPACING
$spacing-variations: (
    xxs: 5px,  
    xs: 10px, 
    sm: 15px, 
    md: 25px, 
    lg: 50px,
    xl: 75px,
); 

/////// COLORS
$hz-greyish-brown: #545454;
$hz-red: #9b001b;
$hz-blue: #0d3d5c;
$hz-light-blue: #0084C0;
$hz-yellow: #DA972F;
